*{
  margin: 0;
  padding: 0;
}
html, body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: ox_b;
  src: url(./fonts/Oxygen-Bold.ttf);
}
@font-face {
  font-family: ox_l;
  src: url(./fonts/Oxygen-Light.ttf);
}
@font-face {
  font-family: ox_r;
  src: url(./fonts/Oxygen-Regular.ttf);
}
body {
  font-family: ox_r;
  font-size: .8125rem;
  font-weight: 400;
  line-height: 1.5;
  color: #747a80;
  text-align: left;
}
h1, h2, h3{
  font-family: ox_b;
}
h1, h2, h3, h4, h5, p, ul, a{
  text-decoration: none !important;
  padding: 0;
  margin: 0;
  list-style: none;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666666;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666666;
}
.bold{
  font-family: ox_b;
}
.btn {
  border: 2px solid rgb( 171, 171, 171 );
  border-radius: 5px;
  font-size: 17px;
  color: #ababab;
  background: transparent;
  font-family: ox_b;
  transition: 0.6s ease;
}
.btn:hover {
  background: #eee;
  color: #000;
}
