.g_wrapper header.main_header {
	background: #fff;
	border-bottom: 1px solid rgba(238,238,238);
	padding: 12px 0px;
}
.g_wrapper header.main_header .main_nav {
	display: flex;
	align-items: center;
}
.g_wrapper header.main_header .main_nav .backbtn a {
	font-size: 16px;
	color: #747474;
	letter-spacing: 0.02em;
	display: flex;
	align-items: center;
}
.g_wrapper header.main_header .main_nav .backbtn a img{
	width: 10px;
	margin-right: 10px;
}
.g_wrapper header.main_header .main_nav .navbar_brand img {
	width: 140px;
}
.g_wrapper header.main_header .main_nav .support_area ul {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.g_wrapper header.main_header .main_nav .support_area ul li a {
	font-size: 16px;
	color: #6b6b6b;
}
.g_wrapper header.main_header .main_nav .support_area ul li a i {
	margin-right: 5px;
}
.g_wrapper header.main_header .main_nav .support_area ul li {
	padding-left: 20px;
}
.g_wrapper header.main_header .main_nav .backbtn {
	width: 30%;
}
.g_wrapper header.main_header .main_nav .support_area {
	width: 30%;
}
.g_wrapper header.main_header .main_nav .navbar_brand {
	width: 40%;
	text-align: center;
}
.g_wrapper .sidebar_area {
	width: 250px;
	background-color: #f5f5f5;
	position: relative;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
}
.g_wrapper .sidebar_area #sidebar_wrapper .user_basic_info {
	padding: 50px 20px 0px;
}
.g_wrapper .sidebar_area #sidebar_wrapper .user_basic_info .pfimage {
	width: 160px;
	height: 160px;
	overflow: hidden;
	background: #000;
	border-radius: 50%;
	margin: 0 auto;
}
.g_wrapper .sidebar_area #sidebar_wrapper .user_basic_info .user_info {
	margin: 30px 0px;
}
.g_wrapper .sidebar_area #sidebar_wrapper .user_basic_info .user_info .name{
	font-size: 24px;
	text-align: center;
}
.g_wrapper .sidebar_area #sidebar_wrapper .tabs_struc ul {
	border:0px;
}
.g_wrapper .sidebar_area #sidebar_wrapper .tabs_struc ul .nav-item {
	display: block;
	width: 100%;
	border: 0;
	box-shadow: none;
}
.g_wrapper .sidebar_area #sidebar_wrapper .tabs_struc ul .nav-item a {
	height: 58px;
	border: 0px;
	border-left: 4px solid transparent;
	border-radius: 0px;
	margin-bottom: 5px;
	display: flex;
	align-items: center;
	font-size: 17px;
	color: #ababab;
	background: transparent;
	font-family: ox_b;
	letter-spacing: 0.02em;
}
.g_wrapper .sidebar_area #sidebar_wrapper .tabs_struc ul .nav-item a i{
	margin-right: 10px;
}
.g_wrapper .sidebar_area #sidebar_wrapper .tabs_struc ul .nav-item a.active {
	background: #eee;
	border-color:#3092ff;
	color:#666666;
}
.g_wrapper .sidebar_area #sidebar_wrapper .tabs_struc ul .nav-item a.active i{
	color:#3092ff;
}
.g_wrapper .body_part {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: stretch;
	align-items: stretch;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 0;
}
.g_wrapper .main_content {
	flex-basis: 100%;
	width: 0;
	min-width: 0;
	max-width: 100%;
	background: #fff;
}
.g_wrapper .main_content .eqaul_padding {
	padding: 50px 60px;
}
.g_wrapper .main_content .tab-content .billing_info_stuc .billing_history {
	border-top: 2px solid rgb( 243, 243, 243 );
	padding: 20px 0px;
}
.g_wrapper .main_content .tab-content .billing_info_stuc .billing_head h1 {
	font-size: 28px;
}
.g_wrapper .main_content .tab-content .billing_info_stuc .billing_history .billing_history_head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
.g_wrapper .main_content .tab-content .billing_info_stuc .billing_history ul li:first-child {
	border-bottom: 0;
	padding-top: 0;
}
.g_wrapper .main_content .tab-content .billing_info_stuc .billing_history ul li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid rgb( 243, 243, 243 );
	padding: 10px 0px;
}
.g_wrapper .main_content .tab-content .billing_info_stuc .billing_history ul li span{
	color: #000000;
	font-size: 16px;
}
.g_wrapper .main_content .tab-content .billing_info_stuc .billing_history .button_load_more {
	padding-top: 30px;
}
.g_wrapper .main_content .tab-content .billing_info_stuc .billing_history ul li span.date_text,
.g_wrapper .main_content .tab-content .billing_info_stuc .billing_history ul li span.amount_text {
	font-size: 16px;
	color: #ababab;
	font-family: ox_b;
}
.g_wrapper .main_content .tab-content .billing_info_stuc .billing_history .button_load_more .btn {
	width: 200px;
	height: 50px;
	margin: 0 auto;
	display: block;
}
.g_wrapper .main_content .tab-content .billing_info_stuc .billing_history .billing_history_head span.title_tag {
	font-size: 28px;
	font-family: ox_b;
}
.g_wrapper .main_content .tab-content .billing_info_stuc .billing_history .billing_history_head span.date_next {
	font-size: 18px;
}
.g_wrapper .main_content .tab-content .billing_info_stuc .billing_head .method_pay {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0px;
}
.g_wrapper .main_content .tab-content .billing_info_stuc .billing_head .method_pay .mt_p{
	color: #000000;
	font-size: 16px;
}
.g_wrapper .main_content .tab-content .billing_info_stuc .billing_head .method_pay .card_select span {
	font-size: 14px;
	color: #ababab;
	margin-bottom: 3px;
}
.g_wrapper .main_content .tab-content .billing_info_stuc .billing_head .method_pay .update_btn .btn {
	width: 150px;
	height: 40px;
}
.g_wrapper .main_content .eqaul_padding .tab-content {
	width: 70%;
}
.g_wrapper .main_content .tab-content .billing_info_stuc .billing_head .method_pay .card_select {
	display: flex;
	align-items: center;
}
.g_wrapper .main_content .tab-content .billing_info_stuc .billing_head .method_pay .card_select .icon {
	margin-right: 10px;
}

.g_wrapper header.main_header .main_nav .navbar_brand .toggle_btn{
	display: none;
}
.g_wrapper header.main_header .main_nav .navbar_brand .toggle_btn{
	width: 50px;
	height: 40px;
	border: 1px solid #000;
	border-radius: 3px;
}
.g_wrapper header.main_header .main_nav .navbar_brand .toggle_btn span.line {
	width: 30px;
	height: 2px;
	background: #000;
	display: block;
	margin: 8px auto;
}
.g_wrapper header.main_header .main_nav .support_area .mobile.logo {
	display: none;
}
.g_wrapper .main_content .tab-content .billing_info_stuc .billing_head {
    text-align: left;
}
@media screen and (max-width: 1200px) {
	.g_wrapper .main_content .eqaul_padding .tab-content {
		width: 100%;
	}
}
@media screen and (max-width: 991px) {
	.container{
		max-width:100% !important;
	}
	.g_wrapper .main_content .tab-content .billing_info_stuc .billing_head h1 {
		font-size: 23px;
	}
	.g_wrapper .main_content .tab-content .billing_info_stuc .billing_history .billing_history_head span.title_tag {
		font-size: 23px;
	}
	.g_wrapper .sidebar_area #sidebar_wrapper .user_basic_info .user_info .name {
		font-size: 20px;
	}
	.g_wrapper .main_content .tab-content .billing_info_stuc .billing_head .method_pay .mt_p {
		font-size: 14px;
	}
	.g_wrapper .main_content .tab-content .billing_info_stuc .billing_history ul li span {
		font-size: 14px;
	}
	.g_wrapper .main_content .tab-content .billing_info_stuc .billing_history ul li span.date_text, .g_wrapper .main_content .tab-content .billing_info_stuc .billing_history ul li span.amount_text {
		font-size: 14px;
	}
	.g_wrapper .main_content .tab-content .billing_info_stuc .billing_history .billing_history_head span.date_next {
		font-size: 16px;
	}
	.g_wrapper .sidebar_area #sidebar_wrapper .tabs_struc ul .nav-item a{
		font-size: 15px;
	}
	.g_wrapper .sidebar_area #sidebar_wrapper .user_basic_info .pfimage {
		width: 135px;
		height: 135px;
	}
	.g_wrapper .sidebar_area #sidebar_wrapper .user_basic_info {
		padding: 50px 10px 0px;
	}
	.g_wrapper .sidebar_area {
		width: 230px;
	}
	.g_wrapper .main_content .eqaul_padding {
		padding: 50px 35px;
	}
	.g_wrapper .main_content .tab-content .billing_info_stuc .billing_head .method_pay .update_btn .btn {
		width: 100px;
		height: 35px;
	}
	.g_wrapper .main_content .tab-content .billing_info_stuc .billing_history .button_load_more .btn {
		width: 160px;
		height: 43px;
	}
	.g_wrapper header.main_header .main_nav .backbtn a {
		font-size: 14px;
	}
	.g_wrapper header.main_header .main_nav .backbtn a img {
		width: 7px;
	}
	.g_wrapper header.main_header .main_nav .navbar_brand img {
		width: 110px;
	}
	.g_wrapper header.main_header .main_nav .support_area ul li a {
		font-size: 14px;
	}

	.btn {
		font-size: 15px;
	}
}

@media screen and (max-width: 768px) {
	.g_wrapper .body_part {
		display: block;
	}
	.g_wrapper .sidebar_area {
		width: 100%;
		background: #eaeaea;
		padding: 35px 0px;
	}
	.g_wrapper .main_content {
		display: block;
		width: 100%;
	}
	.g_wrapper .main_content .eqaul_padding {
		padding: 30px 30px;
	}
	.g_wrapper .sidebar_area #sidebar_wrapper .user_basic_info .user_info {
		margin: 15px 0px;
	}
	.g_wrapper .sidebar_area #sidebar_wrapper .tabs_struc ul .nav-item {
		display: inline-block;
		width: auto;
		margin: 0 5px;
	}
	.g_wrapper .sidebar_area #sidebar_wrapper .tabs_struc ul .nav-item a {
		height: auto;
		display: inline-block;
		margin: 0;
		border: 1px solid #000;
		border-radius: 3px;
		color: #000;
	}
	.g_wrapper .sidebar_area #sidebar_wrapper .tabs_struc ul .nav-item a i{
		display: none;
	}
	.g_wrapper .sidebar_area #sidebar_wrapper .tabs_struc ul {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	.g_wrapper .sidebar_area #sidebar_wrapper .tabs_struc ul .nav-item a.active {
		background: #3092ff;
		border-color: #3092ff;
		color: #fff;
	}
	.g_wrapper .sidebar_area #sidebar_wrapper .user_basic_info {
		padding: 0px 0px 0px;
	}
	.g_wrapper header.main_header .main_nav .support_area {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		background: #fff;
		width: 0;
		z-index: 999;
		transition: 0.8s ease;
		overflow: hidden;
		box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
	}
	.g_wrapper header.main_header .main_nav .backbtn {
		display: none;
	}
	.g_wrapper header.main_header .main_nav .navbar_brand {
		width: 100%;
		text-align: left;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.g_wrapper header.main_header .main_nav .navbar_brand .toggle_btn{
		display: block;
	}
	.g_wrapper header.main_header .main_nav .support_area.open {
		width: 320px;
	}
	.g_wrapper header.main_header .main_nav .support_area ul {
		display: block;
	}
	.g_wrapper header.main_header .main_nav .support_area ul li {
		padding: 15px 20px;
		border-bottom: 2px solid #eaeaea;
	}
	.g_wrapper header.main_header .main_nav .support_area .mobile.logo {
		display: flex;
		padding: 15px 20px;
		border-bottom: 2px solid #eaeaea;
		align-items: center;
	}
	.g_wrapper header.main_header .main_nav .support_area .mobile.logo img {
		width: 110px;
	}
	.g_wrapper header.main_header .main_nav .support_area ul li.notification {
		text-align: right;
	}
	.g_wrapper header.main_header .main_nav .support_area ul li.notification a {
		font-size: 22px;
	}
	.g_wrapper header.main_header .main_nav .support_area .mobile.logo a.closebtn {
		position: relative;
		font-size: 40px;
		text-decoration: none;
		color: #4a4a4a;
		flex: 1;
		text-align: right;
		line-height: 1px;
		height: 25px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}
@media screen and (max-width: 640px) {
	.g_wrapper .main_content .tab-content .billing_info_stuc .billing_head .method_pay{
		display: block;
	}
	.g_wrapper .main_content .tab-content .billing_info_stuc .billing_head .method_pay .last_pay_his,
	.g_wrapper .main_content .tab-content .billing_info_stuc .billing_head .method_pay .card_select{
		display: block;
		width: 100%;
		margin-bottom: 20px
	}
	.g_wrapper .main_content .tab-content .billing_info_stuc .billing_history .billing_history_head {
		display: block;
		width: 100%;
	}
	.g_wrapper .main_content .tab-content .billing_info_stuc .billing_history .billing_history_head span.title_tag,
	.g_wrapper .main_content .tab-content .billing_info_stuc .billing_history .billing_history_head span.date_next{
		display: inline-block;
		width: 100%;
	}
	.g_wrapper .main_content .tab-content .billing_info_stuc .billing_history .billing_history_head span.title_tag{
		margin-bottom:10px;
	}
}
@media screen and (max-width: 480px) {
	.g_wrapper .sidebar_area #sidebar_wrapper .tabs_struc ul .nav-item {
		margin: 0px 2px;
	}
	.g_wrapper .sidebar_area #sidebar_wrapper .tabs_struc ul .nav-item a {
		font-size: 13px;
	}
	.g_wrapper .main_content .tab-content .billing_info_stuc .billing_head h1 {
		font-size: 20px;
	}
	.g_wrapper .main_content .tab-content .billing_info_stuc .billing_history .billing_history_head span.title_tag {
		font-size: 20px;
	}
	.g_wrapper .main_content .tab-content .billing_info_stuc .billing_history .billing_history_head span.date_next {
		font-size: 14px;
	}
	.g_wrapper .main_content .eqaul_padding {
		padding: 30px 15px;
	}
	.g_wrapper .sidebar_area #sidebar_wrapper .tabs_struc ul .nav-item a {
		font-size: 12px;
		padding: 5px 10px;
	}
	.g_wrapper .sidebar_area #sidebar_wrapper .user_basic_info .user_info .name {
		font-size: 18px;
	}
	.g_wrapper .sidebar_area #sidebar_wrapper .user_basic_info .pfimage {
		width: 100px;
		height: 100px;
	}
}
@media screen and (min-width: 1200px) {
	.container{
		max-width: 96%;
	}
}
@media screen and (min-width: 1550px) {
	.btn{
		font-size: 20px;
	}
	.g_wrapper .sidebar_area {
		width: 400px;
		height:100vh;
	}
	.g_wrapper .sidebar_area #sidebar_wrapper .user_basic_info .user_info .name{
		font-size: 28px;
	}
	.g_wrapper .sidebar_area #sidebar_wrapper .tabs_struc ul .nav-item a{
		font-size: 21px;
		padding: 0px 50px;
		height: 80px;
	}
	.g_wrapper .main_content .tab-content .billing_info_stuc .billing_history ul li span{
		color: #000000;
		font-size: 21px;
	}
	.g_wrapper .main_content .tab-content .billing_info_stuc .billing_history .button_load_more .btn {
		width: 248px;
		height: 61px;
	}
	.g_wrapper .main_content .tab-content .billing_info_stuc .billing_history ul li span.date_text,
	.g_wrapper .main_content .tab-content .billing_info_stuc .billing_history ul li span.amount_text {
		font-size: 18px;
	}
	.g_wrapper .main_content .tab-content .billing_info_stuc .billing_history .billing_history_head span.title_tag {
		font-size: 34px;
	}
	.g_wrapper .main_content .tab-content .billing_info_stuc .billing_history .billing_history_head span.date_next {
		font-size: 21px;
	}
	.g_wrapper .main_content .tab-content .billing_info_stuc .billing_head h1 {
		font-size: 34px;
	}
	.g_wrapper .main_content .tab-content .billing_info_stuc .billing_head .method_pay .mt_p {
		font-size: 21px;
	}
	.g_wrapper .main_content .tab-content .billing_info_stuc .billing_head .method_pay .card_select span {
		font-size: 18px;
		color: #ababab;
	}
	.g_wrapper .main_content .tab-content .billing_info_stuc .billing_head .method_pay .update_btn .btn {
		width: 180px;
		height: 46px;
	}
	.g_wrapper .main_content .eqaul_padding .tab-content {
		width: 767px;
	}
	.g_wrapper .main_content .eqaul_padding {
		padding: 50px 100px;
	}
	.g_wrapper .sidebar_area #sidebar_wrapper .user_basic_info .pfimage{
		width: 220px;
		height: 220px;
	}
	.g_wrapper header.main_header .main_nav .backbtn a {
		font-size: 22px;
	}
	.g_wrapper header.main_header .main_nav .navbar_brand img {
		width: 160px;
	}
	.g_wrapper header.main_header .main_nav .support_area ul li a {
		font-size: 19px;
	}
	.g_wrapper .sidebar_area #sidebar_wrapper .tabs_struc ul .nav-item a{
		border-width:8px;
	}
	.g_wrapper header.main_header{
		padding:17px 0px;
	}
}
