.g_wrapper {
	.main_content {
		.tab-content {
			#myplan {
				.myplan_stuc{
					.myplan_stuc_heading{
						margin-bottom:35px;
						h1 {
							font-size: 28px;
							color: #666666;
						}
					}
					.myplan_stuc_plan_info{
						.myplan_stuc_plan_info_plan_boxes{
							.myplan_stuc_plan_info_plan_boxes_ul{
								display: flex;
								.myplan_stuc_plan_info_plan_boxes_ul_li{
									border-radius: 4px;
									width: 310px;
									cursor: pointer;
									overflow: hidden;
									&:first-child{
										margin-right:30px;
									}
									&.active{
										border: 2px solid #7480ff;
										.myplan_stuc_plan_info_plan_boxes_current_subscription{
											opacity: 1;
											visibility: visible;
										}
									}
									.myplan_stuc_plan_info_plan_boxes_current_subscription{
										background: #7480ff;
										color: #fff;
										padding: 10px 0px;
										opacity: 0;
										visibility: hidden;
										h1{
											font-size: 18px;
											font-family: ox_r;
										}
									}
									.myplan_stuc_plan_info_plan_boxes_plan_box{
										padding: 40px 30px;
										background: #f5f5f5;
										height: 100%;
										.myplan_stuc_plan_info_plan_boxes_plan_box_heading{
											h1{
												font-size: 36px;
												color: #666666;
											}
										}
										.myplan_stuc_plan_info_plan_boxes_plan_box_svg_image{
											svg{
												width: 200px;
												height: 190px;
												margin: 30px 0px;
												tspan { white-space:pre }
												.shp0 { fill: #f9f9f9 } 
												.shp1 { fill: #69c9d6 } 
												.shp2 { fill: #5dbac1 } 
												.shp3 { fill: #e5e5e5 } 
											}
										}
										.myplan_stuc_plan_info_plan_boxes_plan_box_content{
											p{
												font-size: 18px;
												color: #666666;
											}
											.views{
												font-size: 14px;
												color: #666666;
												font-style: italic;
												display: block;
											}
											.sites_use{
												font-size: 18px;
												color: #666666;
												margin-top: 30px;
												display: block;
											}
											.downgrade_btn{
/*												width: 220px;
												height: 44px;
												font-size: 22px;*/
												width: 180px;
												height:38px;
												font-size: 18px;
												display: -webkit-box;
												display: -ms-flexbox;
												display: flex;
												-webkit-box-align: center;
												-ms-flex-align: center;
												align-items: center;
												-webkit-box-pack: center;
												-ms-flex-pack: center;
												justify-content: center;
												line-height: 1px;
												background: #bbbbbb;
												color: #fff;
												margin: 30px auto 0;
												border: 0;
											}
										}
									}
								}
							}
							.myplan_stuc_plan_info_plan_boxes_usage{
								margin-top: 50px;
								text-align: left;
								.myplan_stuc_plan_info_plan_boxes_usage_head{
									h1{
										font-size: 23px;
										color: #666666;
										border-bottom: 2px solid #ababab;
										padding-bottom: 10px;
									}
								}
								.myplan_stuc_plan_info_plan_boxes_usage_content{
									padding: 15px 0px;
									h2{
										font-size: 18px;
										color: #666666;
										margin-bottom: 5px;
									}
									p{
										font-size: 14px;
										color: #666666;
									}
								}
								.myplan_stuc_plan_info_plan_boxes_usage_scroller{
									.myplan_stuc_plan_info_plan_boxes_usage_scroller_usage_and_rate{
										display: flex;
										align-items: center;
										justify-content: space-between;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1550px) {
	.g_wrapper {
		.main_content {
			.tab-content {
				#myplan {
					.myplan_stuc{
						.myplan_stuc_heading{
							h1 {
								font-size: 36px;
							}
						}
						.myplan_stuc_plan_info{
							.myplan_stuc_plan_info_plan_boxes{
								.myplan_stuc_plan_info_plan_boxes_ul{
									.myplan_stuc_plan_info_plan_boxes_ul_li{
										width: 370px;
										.myplan_stuc_plan_info_plan_boxes_current_subscription{
											h1{
												font-size:22px;
											}
										}
										.myplan_stuc_plan_info_plan_boxes_plan_box{
											.myplan_stuc_plan_info_plan_boxes_plan_box_heading{
												h1{
													font-size: 46px;
												}
											}
											.myplan_stuc_plan_info_plan_boxes_plan_box_svg_image{
												svg{
													width: 220px;
													height: 220px;
													margin: 50px 0px;
												}
											}
											.myplan_stuc_plan_info_plan_boxes_plan_box_content{
												p{
													font-size: 22px;
												}
												.views{
													font-size: 16px;
												}
												.sites_use{
													font-size: 22px;
												}
												.downgrade_btn{
													width: 220px;
													height: 44px;
													font-size: 22px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}